body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("WhatsApp\ Image\ 2024-04-21\ at\ 15.59.09_90968e28.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content:center;
   }
   .head {
     padding: 20px;
    
   }
   nav{
    background-color:#2f4159;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 30px;
    margin: 10px;
}
nav a{
    color:white;
    padding: 10px 30px;
    font-size:20px;
    text-decoration: none;
}

nav a:hover{
    border:4px solid black;
    border-radius: 10px;
}

nav a:active{
    background-color:  #4a83cea4;
    border:4px solid #4a83cea4;
    border-radius: 10px;
}
   h1 {
     color: white;
     margin: auto;
     margin-top: 50px;
     max-width: 600px;
     background-color: #2f4159;
     text-align: center;
     border-radius: 20px;
     padding: 10px;
   }
   p{
    text-align:center;
    font-size:30px;
   }
   textarea{
     width: 100%;
   }
  form{
    width: 600px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 0 18px rgba(0,0,0,0.1);
    border-radius: 12px;
    

   }
   input:focus{
     transform: scale(1.09);
   }
   label {
     display: block;
     font-weight: bold;
     padding: 10px 0;
   }
   
   input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid #999;
    font-family: Poppins;
    box-sizing: border-box;
   }
   
   .btnAdd {
     
     text-align: center;
   }
    .btn ,#sbmt{
    
     padding: 10px 20px;
     background-color: #2f4159;
     margin-top: 40px;
     color: #fff;
     border: none;
     cursor: pointer;
     border-radius: 40px;
   }
   
   .btn:hover {
    
     background-color: #999393;
     transition: .5s;
   }
   
   .task-list {
     margin-top: 30px;
   }
   
   .task-item {
     margin-bottom: 10px;
   }
   
   .task-item .Name {
     font-weight: bold;
   }
   
   .task-item .delete-btn {
     color: white;
     background-color: red;
     padding: 10px;
     cursor: pointer;
   }